<h1>TO DO LIST</h1>

<%= link_to "New task", tasks_new_path %>
<h2>
  <% @tasks.each do |task| %>

  <%= task.name %>

  <%= task.done %>

  <%= link_to "See in detail", task_path(task) %>

  <% end %>
</h2>



